{% extends 'forgotpassword/index.html' %}
{% block content %}

<form action="" method = 'POST' novalidate>
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}  <br><br>
    {% endfor %}

    <input type="submit" value="Change Password">  <a href="profile">Back </a> <br><br>

    <!-- display error message   (no need of this) -->
    <!-- {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <small style="color: red;">{{error}} </small>
        {% endfor %}
    {% endif %} -->
</form>

{% endblock %}