{% extends 'forgotpassword/index.html' %}
{% block title %} login {% endblock %}
{% block content %}

<form action="" method="POST" novalidate>
    {% csrf_token %}

    <!-- creating form -->
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
    {% endfor %}
    <input type="submit" value="Login">   <a href="signup">Signup</a>   <a href="{% url 'password_reset' %}">Forgot Password</a> <br><br>

    <!-- display error message -->
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <small style="color: red;">{{error}} </small>
        {% endfor %}
    {% endif %}
</form>

{% for message in messages %}
<small style="color: green;">{{message}}</small>
{% endfor %} <br>

{%endblock%}