{% extends 'forgotpassword/index.html' %}
{% block content %}

<!-- {% if user.is_authenticated %} -->
 <h1>Hello {{user.first_name}}</h1>

 {% for message in messages %}
 <small style="color: green;">{{message}}</small>
{% endfor %} <br>

 <small>Last Login: {{user.last_login}}</small>

    <form action="" method="POST">
        {% csrf_token%}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <small style="color: red;">{{error}} </small>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Change Profile">
    </form><br>

    <form action="{% url 'deleteuser' user.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete Account">
    </form>
    

 <a href="logout">Logout</a> <br><br>
 <a href="changepass">ChangePasswordUsing-PasswordChangeForm</a><br><br>
 <a href="changepassSet">ChangePasswordUsing-SetPasswordForm</a>

<!-- {%endif%} -->
{%endblock%}