{% extends 'forgotpassword/index.html' %}
{% block content %}

<form action="" method="POST" >
    {% csrf_token%}

    <!-- creating form -->
    {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
    {% endfor %}
    <input type="submit" value="Signup"> <a href="/">Login</a><br><br>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <small style="color: red;">{{error}} </small>
        {% endfor %}
    {% endif %}

    <!-- display  messsage -->
    <!-- {% if messages %}
        {% for message in messages %}
        <small  {% if message.tags %} class"{{message.tags}} {% endif %}" style="color: green;"> {{message}} </small>
        {% endfor %}
    {% endif %} -->

</form>
{%endblock%}