{% extends 'blog.html' %}
{% block content %}

 <!-- feed starts here-->
 <div class="feed">
    <!-- post starts -->
    <!-- displays messages -->
  {% for message in messages %}  
  <div class="col-sm-4">
  <div id="msg" class="alert alert-info p-1 mb-1 text-center">
  <small style="color: green;">{{message}}</small>
  </div>
  </div>
  {% endfor %}

    {% if blogs %}
    {% for blog in blogs %}
    <div class="post">
      <div class="post__top">
        <div class="post__topInfo">
          <h3>{{blog.user.first_name}} {{blog.user.last_name}}</h3>
          <p>Posted on: {{blog.datetime}}</p>
        </div>
      </div>

      {% if blog.picture %}
      <div class="post__image">
        <img src="{{blog.picture.url}}" alt="" />
      </div>
      {% endif %}
      
      <div class="post__bottom1">
        <h6>: {{blog.title}}</h6>
      </div>
      <div class="post__bottom2">
         <small>{{blog.desc}}</small>
      </div>
      <div class="post__bottom2">
        <hr>
        <!-- <div class="fb-like" data-href="http://127.0.0.1:8000/home/{{blog.id}}" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div> -->
      </div>
      <div class="post__bottom3" >
        <hr>
        <div class="fb-comments" data-href="http://127.0.0.1:8000/home/{{blog.id}}" data-width="100%" data-numposts="2"></div>   <!-- facebook comment plugin -->
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5 class="alert alert-danger my-3">Sorry, No Blogs Available!</h5>
    {% endif %}
  </div>
  <!-- feed ends -->

{% endblock %}