{% extends 'main.html' %}
{% block content %}
<div class="col-sm-5 m-4 mt-5">
<form action="" method="POST" class="shadow p-5 mt-5" style="border-radius: 5px;"> 
  {% csrf_token %}

  <!-- displays forms -->
  {% for fm in form %}
    <div class="form-group mb-4">
    {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
    </div>
  {% endfor %}

  <input type="submit" class="btn btn-primary mb-3" value=" Login ">
  <!-- google login -->
  <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-secondary mb-3 mx-2">
    <!-- <i class="fab fa-google fa-fw"> </i> -->
    <img src="static/image/googleicon.png" alt="" style="width: 21px;"> Login with Google
  </a>
  <!-- google login -->
  <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-secondary mb-3">
    <!-- <i class="fab fa-facebook fa-fw"></i> -->
    <img src="static/image/facebookicon.png" alt="" style="width: 23px;"> Login with Facebook
  </a>
  <br>
  <a href="{% url 'password_reset' %}" class="" style="text-decoration: none;">Forgot Password?</a>

  <!-- displays error messages on form -->
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p id="msg" class="alert alert-danger my-3">{{error}} </p>
    {% endfor %}
  {% endif %}
 </form>
</div>
{% endblock %}